<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha384-3LtJ7gD0I9G02PZcE9Gm7glr1p8K3BjHt4Bh5n/t7l6NU7cOQ5MT3aw6kw/xkq8D" crossorigin="anonymous">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <div class="container">
            <div class="font-weight-bold" >{{ site.title }}</div>
        </div>
    </header>
    <main class="container mt-4">
